<ion-content>
  <div class="BGcolor" style='width: 100%;height: 100%;'>
    <div class="banner">
      <div class="content">
        <div class="left">
          <img src="assets/icon/back-white@2x.png" (click)='goBack()'>
        </div>
        <div class="con">账单</div>
      </div>
    </div>

    <!-- 
    <div class="account">
      <p>我的账单(MN) <span>不包含手续费</span></p>
      <h3>00.00</h3>
      <h1>您还没有账单产生</h1>
    </div>

    <div class="noAccount">
      <img src="assets/icon/17ba1763.png">
      <p>没有账单</p>
    </div>
-->


    <ion-list>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
    </ion-list>

  </div>
</ion-content>