<ion-content>
  <div style="display:flex; flex-direction:column;height: 100%;">

    <!-- title -->
    <div class='conWrap'>
      <div class="left" (click)="goBack()">
        <img src="../../../assets/icon/back-blue@2x.png">
      </div>
      <div class="con">添加H5应用</div>
    </div>
    <div class='segline'></div>
    <!-- body -->
    <div style='flex:1; position: relative;'>
      <!-- 应用标题 -->
      <div class='apptitle'>
        <input type="text" placeholder="输入应用标题">
      </div>
      <!-- 应用地址 -->
      <div class='apptitle appaddress'>
        <input type="text" placeholder="输入应用地址">
      </div>
      <!-- 添加按钮 -->
      <div class='addBtnWrap'>
        <div class="btn">添加</div>
      </div>
    </div>

  </div>
</ion-content>