.BGcolor {
    background: #F6F7F9;
}

.content {
    position: relative;
    background: #fff;
    // 顶部安全区
    padding-top: constant(safe-area-inset-top) !important;
    padding-top: env(safe-area-inset-top) !important;
}

.left {
    position: absolute;
    left: 0;
    // top: 0;
    width: 50px;
}

.con {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    line-height: 40px;
}

ion-list {
    margin-top: 20px;
}

ion-lable {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    line-height: 18px;
}