// 黑色透明背景
ion-backdrop {
    position: fixed;
    display: block;
    background-color: #000;
    opacity: 0.4;
}

// 显示的内容
.tipsModal {
    position: relative;
    // height: 120px;
    width: 270px;
    margin: 0 auto;
    margin-top: 210px;
    z-index: 3;
    border-radius: 12px;
    overflow: hidden;
}

.tipsModal div.content {
    // height: 260px;
    background: #fff;
    // margin-top: 200px;
}

.tipsModal div.content h1 {
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #030303;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
}

.tipsModal div.content div.msg {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
    margin-bottom: 10px;
}

.tipsModal div.content p {
    border-top: 1px solid #cbd5e3;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #007aff;
    letter-spacing: -0.41px;
    text-align: center;
    margin: 0;
    line-height: 50px;
}
