<ion-content>
  <div
    class="BGcolor"
    style="display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;width: 100%;height: 100%;"
  >
    <div class="content">
      <div class="left"><img src="assets/icon/back-blue@2x.png" (click)="goBack()" /></div>
      <div class="con">{{ 'More' | translate }}</div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <div><img src="../../../assets/icon/tianjia.png" /></div>
          <p class="tobeAdded">{{ 'Add App' | translate }}</p>
        </ion-col>

        <ion-col>
          <div><img src="../../../assets/icon/tianjia.png" /></div>
          <p class="tobeAdded">{{ 'Add App' | translate }}</p>
        </ion-col>

        <ion-col>
          <div><img src="../../../assets/icon/tianjia.png" /></div>
          <p class="tobeAdded">{{ 'Add App' | translate }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
