<ion-content>
  <div class="BGcolor" style='display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;width: 100%;height: 100%;'>
    <div class="content">
      <div class="left">
        <img src="assets/icon/back-blue@2x.png" (click)='goBack()'>
      </div>
      <div class="con">更多</div>
    </div>

    <ion-list>
      <ion-item>
        <div class="imgleft">
          <img src="assets/pic/FeeToRead.png">
        </div>
        <div class="titright">
          <p class="tit">付费阅读</p>
          <p class="txt">支付后可查看原文</p>
        </div>
      </ion-item>
      <ion-item>
        <div class="imgleft">
          <img src="assets/pic/FeeToArticle.png">
        </div>
        <div class="titright">
          <p class="tit">文章打赏</p>
          <p class="txt">好文章值得打赏</p>
        </div>
      </ion-item>
    </ion-list>

  </div>
</ion-content>