<ion-content>
  <div class="BGcolor" style="width: 100%;height: 100%;">
    <div class="banner">
      <div class="content">
        <div class="left">
          <img src="../../../assets/icon/back-white@2x.png" (click)="goBack()" />
        </div>
        <div class="con">{{ 'Get Some TTT-Test' | translate }}</div>
      </div>
    </div>

    <div class="account">
      <p>{{ 'Wallet Address:' | translate }}</p>
      <h1>{{ address }}</h1>
      <div class="line"></div>
    </div>

    <div class="tips">
      <h5>{{ 'Tips' | translate }}</h5>
      <p>
        {{
          'Please make sure your Internet is properly connected when applying for TTT-Test. The transaction may take a couple
      minutes.'
            | translate
        }}
      </p>
      <p>
        {{
          'If you have any questions, please contact us on twitter @TrustNote or Telegram https://t.me/TrustNote'
            | translate
        }}
      </p>
    </div>

    <div class="btnWrap">
      <div *ngIf="!isGotCoin" class="btn" (click)="getCoin()">
        {{ 'Get 10MN of TTT-Test now' | translate }}
      </div>
    </div>
  </div>
</ion-content>
