<ion-content>
  <div class="BGcolor" style="display: -webkit-flex;display: flex;-webkit-flex-direction: column;flex-direction: column;width: 100%;height: 100%;">
    <div class="content">
      <div class="left"><img src="../../../assets/icon/back-blue@2x.png" (click)="goBack()" /></div>
      <div class="con">{{ 'Settings' | translate }}</div>
    </div>

    <ion-list>
      <ion-item (click)="resetWallet()">
        <div class="imgleft"><img src="../../../assets/img/reset.png" /></div>
        <div class="titright">
          <p class="tit">{{ 'Reset wallet' | translate }}</p>
          <p class="txt">{{ 'Beware, everything will be reset' | translate }}</p>
        </div>
      </ion-item>
      <ion-item (click)="showMnemonic()">
        <div class="imgleft"><img src="../../../assets/img/mnemonic.png" /></div>
        <div class="titright">
          <p class="tit">{{ 'View Mnemonic' | translate }}</p>
          <p class="txt">{{ 'Be careful!' | translate }}</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
